doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title FxxxxD
    
    //- link(rel='stylesheet', href="/css/normalize.css")
    //- link(rel='stylesheet', href="/css/skeleton.css")
    link(rel='stylesheet', href="/css/style.css")
    //- script(src="/jquery/dist/jquery.min.js")
    
  body
    .container
      include _header.pug
      block content
      //- block footer
