extends _layout.pug

block content
  .row.docs-section
    h2 Variable console
    p 後々は登録されている画像のconsoleが出せるといい。
    table.u-full-width
      thead
        tr
          th ID
          th Name
      tbody
        - for (var x = 0; x < data.length; x++)
          tr
            td= data[x]['user_id']
            td= data[x]['name']
  .row.docs-section
    h2 Pages
    table.u-full-width
      thead
        tr
          th Contents
          th Path
          th Note
          th Link
      tbody
        tr
          td Add users
          td /register
          td 新規ユーザー登録
          td
            a.button.button-primary(href="/register") visit a page
        tr
          td View images
          td /images/
          td 画像の一覧<br>このページで各種設定（削除）もできればOK
          td
            a.button.button-primary(href="/images/") visit a page
        tr
          td Add images
          td /images/add/
          td 新規画像の追加ページ
          td
            a.button.button-primary(href="/images/add/") visit a page
    .row.docs-section  
      h2 APIs
      p Version 1.0.0
      p
        | 下記を参考にしています。<br>
        a(href="https://qiita.com/mserizawa/items/b833e407d89abd21ee72" target="_blank") https://qiita.com/mserizawa/items/b833e407d89abd21ee72
      table.u-full-width
        thead
          tr
            th Method
            th Path
            th Note
            th Link
        tbody
          tr
            td GET
            td /api/v1/images/
            td 全ての画像を取得
            td
              a.button.button-primary(href="/api/v1/images/") View API
          tr
            td GET
            td /api/v1/images/:id
            td 特定の画像を取得
            td
              a.button.button-primary(href="/api/v1/images/") View API
          tr
            td POST
            td /api/v1/images/
            td 新規画像の追加
            td
              a.button.button-primary(href="/api/v1/images/") View API
          tr
            td PUT
            td /api/v1/images/:id
            td 特定の画像を更新
            td
              a.button.button-primary(href="/api/v1/images/") View API
          tr
            td PATCH
            td /api/v1/images/:id
            td 特定の画像を部分的に更新
            td
              a.button.button-primary(href="/api/v1/images/") View API
          tr
            td DELETE
            td /api/v1/images/:id
            td 特定の画像を削除
            td
              a.button.button-primary(href="/api/v1/images/") View API

    
