extends _layout.pug

block content
  .row.docs-section
    h2= title
    p ユーザーを登録します。
    form(action='/register', method='POST')
      label(for="user_name") User name
      input(type='text', name='user_name', value='' id="user_name")
      input(type='submit', value='Submit' class='button-primary')
