@import '_normalize'
@import '_skeleton'

body
  background-color #fff

.docs-section
	border-top: 1px solid #eee;
	padding: 6rem 0;
	margin-bottom: 0;

.docs-header
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: .2rem;
	font-weight: 600;
